@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Check out this live performance of one of my favorite songs of all time!! Such a great performance!!</p>

        <iframe width="900" height="506" src="https://www.youtube.com/embed/MXhqoZ1nEL8"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write;
           encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>"
    </div>

    <br />
    <br />


    <h1>A simple JavaScript Animation</h1>
    <button onclick="Animation()">CLick Here</button>
    <div id="Container">
        <div id="myJS"></div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
</html>